---
title: about page
permalink: about
---

{% include header.html %}

<div class="row">

	<div class="text-intro full-width">
		<h2>I've been carefully moving pixels around for a hot minute&mdash;thirteen years to be exact.</h2>
	</div>
</div>

		<div id="about-container" class="row">

			<div class="column">

				<p>For the past eight years I've been designing user experiences&mdash;six of those years were focused on urban mobility. Currently, I'm apart of the <a href="http://remix.com" target="_blank">Remix</a> team building tools that give cities a means to create equitable transportation outcomes. Previously, I worked on a transit ticketing mobile app at <a href="https://moovel-group.com/en" target="_blank">moovel</a> and on a carsharing platform at <a href="http://getaround.com" target="_blank">Getaround</a>. Also, I'm a mentor at <a href="http://trydesignlab.com/ckayfoote/" target="_blank">Designlab</a>.
				<p>

			</div>

			<div class="column">
				<p>Just in case you are still reading this, here are some unnecessary facts about me. I was born in a flamingo pink hospital in Honolulu. I'm a gosh darn ex-Floridian. I have 35+ plants living in my home. I saw a UFO and this can be corroborated. I'm a hot dog pundit. Writing with a felt tip pen is my equivolent to scissors gliding through paper. I've been car-free for seven years.</p>
			</div>

		</div><!--end div#about-container-->
		<div id="experience-container" class="row">

			<div class="column">
				<h3>Experience</h3>
				<h4>Product Designer - Webflow</h4>
				<p>March 2022 to Present<br>Designing tools that enable teams of various sizes and skill level to create better websites more efficiently.</p>
				<h4>Product Designer - Remix</h4>
				<p>August 2018 to March 2022<br>Design lead on a street sketching tool that enabled transportation planners to sketch ideas and concepts.</p>
				<h4>Product Designer - moovel</h4>
				<p>January 2017 to July 2018<br>Design lead on mobile app helping transit agencies expand ticketing access to transit riders.</p>
				<h4>Product Designer - Getaround</h4>
				<p>April 2014 to December 2016<br>Designed mobile and web app experiences helping people share and rent cars.</p>
				<h4>Lead Designer & Front-End Developer - Big Sea Design & Development</h4>
				<p>August 2011 to November 2013<br>Designing and building experiences for a variety of clients and needs.</p>

			</div>

			<div class="column">
				<h3>Education</h3>
				<h4>BFA GRAPHIC DESIGN</h4>
				<p>Intl. Academy of Design & Tech.<br>December 2006</p>
				<h4>AAS GRAPHIC DESIGN</h4>
				<p>Pensacola State College<br>July 2005</p>
			</div>

		</div><!--end div#about-container-->




{% include footer.html %}
