---
title: about page
permalink: about
---

{% include header.html %}

<div class="row">

	<div class="text-intro full-width">
		<h2>I've been carefully moving pixels around for a hot minute&mdash;thirteen years to be exact.</h2>
	</div>
</div>

		<div id="about-container" class="row">

			<div class="column">

				<p>For the past eight years I've been designing user experiences&mdash;six of those years were focused on urban mobility. Currently, I'm apart of the <a href="http://remix.com" target="_blank">Remix</a> team building tools that give cities a means to create equitable transportation outcomes. Previously, I worked on a transit ticketing mobile app at <a href="https://moovel-group.com/en" target="_blank">moovel</a> and on a carsharing platform at <a href="http://getaround.com" target="_blank">Getaround</a>. Also, I'm a mentor at <a href="http://trydesignlab.com/ckayfoote/" target="_blank">Designlab</a>.
				<p>

			</div>

			<div class="column">
				<p>Just in case you are still reading this, here are some unnecessary facts about me. I was born in a flamingo pink hospital in Honolulu. I'm an ex-Floridian. I have 35+  plants currently living in my home. I saw a UFO and was with others who confirmed the sighting. I like soccer but it's called football. A felt tip pen is the preferred writing tool. I've been car-free for seven years.</p>
			</div>

		</div><!--end div#about-container-->




{% include footer.html %}
