---
title: Cancel Trip
permalink: cancel-trip
---

{% include header.html %}

<div class="img-full-container bglight">
		<img src="{{ '/assets/img/cancel-trip-hero.png' | prepend: site.baseurl }}" />
</div>

<div class="row copy-row">
	<div class="column overview title-column">
		<h2>Cancel Trip</h2>
		<p>Getaround | iOS + Android</p>.
	</div>
	<div class="column">
		<h4>Overview</h4>
		<p>Getaround is a carsharing platform where owners rent out their cars to people nearby. It allows renters to instantly rent cars by the hour or even daily.
		</p>
		<p>As a Product Designer at Getaround, I led the design of Cancel Trip feature, a way for renters to cancel their car rental through the native mobile app. I partnered with the Product Manager on UX research and I was responsible for wireframing, copywriting, ideating, testing, and UI design.</p>

		<h4>Understanding the Problem</h4>
		<p>Before this feature was introduced, renters had to call or email Getaround customer support in order to cancel a trip&mdash;both of which require waiting periods and cause friction. This manual process was the source of a significant amount of work for the customer support team. Trip cancellations were the number one reason for calls made to customer support.</p>

		<!--h4>Constraints</h4>
		<p>In order to truly bring down customer support call volume, we would need to consider 1) car renters and car owners 2) web and mobile 3) cancelling AND modifying a trip. Because of resourcing, this project was scoped as Phase 1 of a multiphase approach.</p-->

		<h4>Objectives</h4>
		<p>After defining the problem, the PM, the customer support lead, and I agreed on a set of objectives:</p>
		<ul>
			<li>Allow the renter to easily cancel trips through the iOS app.</li>
			<li>Give the renter clear information about cancellation policies and fees.</li>
			<li>Ensure the collection of appropriate cancellation fees.</li>
			<li>Success metric: bring down customer support call volume down a third (Phase 1).</li>
		</ul>
	</div>
</div>

<div class="img-full-container">
	<img src="{{ '/assets/img/cancel-trip-userflow.png' | prepend: site.baseurl }}" />
</div>

<div class="row copy-row">
	<div class="column title-column">
		<h3>Exploration</h3>
		<p>Brainstorming and Ideating</p>
	</div>
	<div class="column">
		<h4>Mapping out Scenarios</h4>
		<p>I mapped out a task flow to understand how the cancellation policy would affect renters in various scenarios.</p>
		<h4>Scenarios:</h4>
		<ul>
			<li>The renter wants to cancel their trip 24hrs or more before it starts OR less than an hour after they booked it.</li>
			<li>The renter wants to cancel their trip less than 24hrs before it starts.</li>
			<li>The renter begins canceling the trip 24hrs prior to the start time within the app. They get distracted while in the app and don't complete cancellation in time to receive a full refund.</li>
			<li>The renter cancels their trip but is refunded less than they were expecting. They'd like to understand why and dispute it.</li>
			<li>The renter wants to cancel their trip after it has started.</li>
		</ul>
	</div>
</div>
<div class="img-full-container bgsuperlight">
	<img src="{{ '/assets/img/cancel-trip-sketch.jpg' | prepend: site.baseurl }}" />
</div>
<div class="row copy-row">
	<div class="single-column">
	<h4>Introducing another action</h4>
	<p>There are several actions the renter can take when renting a car. And those actions change depending on whether the trip is in the past, present, or future. For example, a renter can extend a rental either before or during the trip period. Also, a renter can unlock their rental car during a trip, but not before the trip starts.</p>
	<p>I created paper prototypes and tested ways to introduce this new action, Cancel Trip, into the existing design.</p>
</div>
</div>
<div class="img-full-container bgsuperlight">
	<img src="{{ '/assets/img/cancel-trip-wireframes.png' | prepend: site.baseurl }}" />
</div>
<div class="row copy-row">
	<div class="single-column">
		<h4>A Dropdown Menu</h4>
		<p>After testing with paper prototypes, it became clear that there were too many actions on a single screen. Instead of having several actions scattered, I tried a different approach: gathering all trip actions into a single dropdown menu. With this new idea, I created wireframes which tested successfully on UsabilityHub.</p>
		<h4>Understanding cancellation reasons, fees, and policies</h4>
		<p>In order to keep a balanced peer-to-peer carsharing marketplace, there must be a set of fees and policies. As a business goal, this feature would collect a different set of fees based on our policies. This meant renters would need a clear understanding of refund amounts.</p>
		<p>It was important to collect information that would describe why cancellations were happening. This insight could help identify problems or even opportunities in the future.</p>
		<h4>After the Trip has Started</h4>
		<p>It was important to keep this action accessible even outside of the  cancellation period. Instead of hiding the feature and potentially confusing the renter, we prompt them to call customer support to help them with problems they might encounter once a trip has started.</p>
</div>
</div>

<div class="img-full-container bgsuperlight">
	<img src="{{ '/assets/img/cancel-trip-screenflow.png' | prepend: site.baseurl }}" />
</div>

<div class="row copy-row">
	<div class="column title-column">
		<h3>Outcome</h3>
		<p>Final Deliverables and Conclusion</p>
	</div>
	<div class="column">
		<h4>Screen Flows</h4>
		<p>After creating high fidelity comps, I created screen flows that documented all of the scenarios and interactions that a renter would experience. This deliverable was used for engineering implementation.</p>
		<h4>Learnings</h4>
		<p>The design leaned heavily on a tool tip which successfully introduces the new feature. But as a next step, I would continue to push the design and make the 'Cancel Trip' feature easier to find and more intuitive.</p>
	</div>
</div>



{% include footer.html %}
