---
title: Intro & Work
---

{% include header.html %}

			<div id="synopsis-container" class="row">
				<div class="full-width">
					<h2>Hey. Hi. I'm Charlene, a product designer at <a href="https://www.remix.com/" target="blank">Remix</a> leading design on a <a href="https://www.remix.com/solutions/streets" target="blank">street sketching tool</a> for transportation planners.</h2>
					<p>I'm super motivated by complex problem spaces, equitable and meaningful outcomes, a collaborative and inclusive process, and high-quality workplace banter.</p>
				</div>

			</div> <!--# end of #synopsis-container-->

		</div><!-- end of .vh-96 -->

	<main>
		<div class="grid-row">
			<a href="https://www.remix.com/blog/design-your-quick-build-network-in-remix" target="_blank">
				<div class="bgremixblue">
					<img src="{{ '/assets/img/network-drawing-preview.png' | prepend: site.baseurl }}" />
				</div>
				<h4>Remix - Wep App</h4>
				<h3>Helping transportation planners quickly draw and analyze bike and pedestrian networks</h3>
			</a>
		</div>
		<div class="grid-row">
				<a href="{{ site.baseurl }}/app-tour">
					<div class="bgaqua">
						<img src="{{ '/assets/img/app-tour-project-hero.png' | prepend: site.baseurl }}"/>
					</div>
				<h4>moovel - iOS + Android App</h4>
				<h3>Guiding users through changes after a transit ticketing app redesign</h3>
			</a>
		</div>
		<div class="grid-row">
				<a href="{{ site.baseurl }}/cancel-trip">
					<div class="bgpurple">
						<img src="{{ '/assets/img/cancel-trip-hero.png' | prepend: site.baseurl }}" />
					</div>
					<h4>Getaround - iOS + Android App</h4>
					<h3>Giving renters the ability to cancel their trip through the mobile app to reduce customer service calls</h3>
				</a>
		</div>

		<div class="grid-row">
			<a href="{{ site.baseurl }}/other-things">
				<div class="ltgray">
					<img src="{{ '/assets/img/portfolio-snippets-preview.png' | prepend: site.baseurl }}" />
				</div>
			<h4>Logos, icons, web layouts, etc..</h4>
			<h3>A visual list of other design dabblings</h3>
			</a>
		</div>


{% include footer.html %}
