---
title: Intro & Work
---

{% include header.html %}

	<div id="synopsis-container" class="row">

		<div class="column">
			<h2>Yo! I’m Charlene, a Product Designer based in Portland, Oregon.</h2>
			<p>I design digital things that are meaningful to humans like interfaces and experiences – things that are simple, delightful, consistent, useful, and all that good stuff.
		</div>

		<div class="column">
		</div>

	</div> <!--# end of div#synopsis-->

	</div><!-- end of 100vh-wrap -->

	<main>

		<div id="case-studies-container">

			<div class="grid-row row">
				<div class="w50 bgaqua">
					<img src="http://place.manatee.lc/600/980.jpg" class="grid-img" />
				</div>
				<div class="w50">
					<div class="grid-content">
						<div class="grid-title">
							<h3>Onboarding</h3>
						</div>
						<div class="grid-body">
							<p>At moovel, I created the onboarding experience for the existing users of a transit ticketing app. The goal was to guide them through the changes introduced by a full app redesign.</p>
						</div>
						<div class="grid-link">
							<a class="hoverbg" href="{{ site.baseurl }}/moovel-onboarding">View Project</a>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-row row">
				<div class="w50">
					<div class="grid-content">
						<div class="grid-title">
							<h3>Onboarding</h3>
						</div>
						<div class="grid-body">
							<p>At moovel, I created the onboarding experience for the existing users of a transit ticketing app. The goal was to guide them through the changes introduced by a full app redesign.</p>
						</div>
						<div class="grid-link">
							<a class="hoverbg" href="{{ site.baseurl }}/moovel-onboarding">View Project</a>
						</div>
					</div>
				</div>
				<div class="w50 bgaqua">
					<img src="http://place.manatee.lc/600/980.jpg" class="grid-img" />
				</div>
			</div>

			<div class="grid-row row">
				<div class="w50 bgaqua"></div>
				<div class="w50">
					<div class="grid-content">
						<div class="grid-title">
							<h3>Onboarding</h3>
						</div>
						<div class="grid-body">
							<p>At moovel, I created the onboarding experience for the existing users of a transit ticketing app. The goal was to guide them through the changes introduced by a full app redesign.</p>
						</div>
						<div class="grid-link">
							<a class="hoverbg" href="{{ site.baseurl }}/moovel-onboarding">View Project</a>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-row row">
				<div class="w50">
					<div class="grid-content">
						<div class="grid-title">
							<h3>Onboarding</h3>
						</div>
						<div class="grid-body">
							<p>At moovel, I created the onboarding experience for the existing users of a transit ticketing app. The goal was to guide them through the changes introduced by a full app redesign.</p>
						</div>
						<div class="grid-link">
							<a class="hoverbg" href="{{ site.baseurl }}/moovel-onboarding">View Project</a>
						</div>
					</div>
				</div>
				<div class="w50 bgaqua"></div>
			</div>

		</div>

		<div  class="row">
			case studies & projects
			<ul>
				<li><a href="{{ site.baseurl }}/moovel-onboarding">Onboarding</a></li>
				<li><a href="{{ site.baseurl }}/getaround-cancel-trip">Cancel Trip</a></li>
				<li><a href="{{ site.baseurl }}/sportsid-landing-pages">Landing Pages</a></li>
				<li><a href="{{ site.baseurl }}/other-stuff">Other Stuff</a></li>
			</ul>
		</div>

{% include footer.html %}
