---
title: intro page
---

{% include header.html %}



		<div id="about-container">

			<h2 class="site-title">Yo! I'm Charlene, a designer of things and stuff.</h1>

			<p>I create digital products and experiences that are meaningful and intuitive. Currently, I'm a product designer at <a href="https://moovel-group.com/en" target="_blank">moovel</a> and a mentor at <a href="http://trydesignlab.com" target="_blank">DesignLab.</a> I was previously a product designers at <a href="http://getaround.com" target="_blank">Getaround.</a></p>

		</div>
    <div id="contact-container">

      <h3>Let's get digital. Digital.</h3>

      <ul id="social-icons">
        <li class="email"><a href="mailto:charlene.foote@gmail.com">email</a></li>
        <li class="dribbble"><a href="http://dribbble.com/charlenefoote" target="blank">Dribbble</a></li>
        <li class="linkedin"><a href="http://www.linkedin.com/in/charlenefoote" target="blank">LinkedIn</a></li>
        <li class="facebook"><a href="https://www.facebook.com/charlene.foote.5" target="blank">Facebook</a></li>
        <li class="twitter"><a href="https://twitter.com/ckayfoote" target="blank">Twitter</a></li>
      </ul>
    </div>



{% include footer.html %}
