---
title: Intro & Work
---

{% include header.html %}

			<div id="synopsis-container" class="row">
				<div class="full-width">
					<h2>Hey. Hi. I'm Charlene, a product designer at <a href="https://www.remix.com/" target="blank">Remix</a> leading design on a <a href="https://www.remix.com/solutions/streets" target="blank">street sketching tool</a> for transportation planners.</h2>
					<p>I'm super motivated by complex problem spaces, equitable and meaningful outcomes, a collaborative and inclusive process, and shared baked goods.</p>
				</div>

			</div> <!--# end of #synopsis-container-->

		</div><!-- end of .vh-96 -->

	<main>

		<div class="grid-row row">
		<div class="w50 bgremixblue">
			<a href="https://www.remix.com/blog/design-your-quick-build-network-in-remix" target="_blank"><img src="{{ '/assets/img/network-drawing-preview.png' | prepend: site.baseurl }}" class="grid-img" alt="Remix Network Drawing Project Preview" /></a>
		</div>
			<div class="w50">
				<div class="grid-content">
					<div class="grid-title">
						<h3><b>Network Drawing in Remix</b> – Helping transportation planners quickly draw and analyze bike and pedestrian networks</h3>
					</div>
					<div class="grid-link">
						<a class="hoverbg" href="https://www.remix.com/blog/design-your-quick-build-network-in-remix" target="_blank">Read Launch Blog Post</a>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-row row">
				<div class="w50">
					<div class="grid-content">
						<div class="grid-title">
							<h3><b>Advanced Editing in Remix</b> – Expanding sketching capabilities so that transportation planners can draw more accurate street concepts</h3>
						</div>
						<div class="grid-link">
							<a class="hoverbg" href="https://www.remix.com/blog/visual-storytelling-made-better-with-remix-streets-advanced-editing-2-0" target="_blank">Read Launch Blog Post</a>
						</div>
					</div>
				</div>
				<div class="w50 bgremixblue">
					<a href="https://www.remix.com/blog/visual-storytelling-made-better-with-remix-streets-advanced-editing-2-0" target="_blank"><img src="{{ '/assets/img/advanced-editing-preview.png' | prepend: site.baseurl }}" class="grid-img" alt="Remix Advanced Editing Project Preview" /></a>
				</div>
		</div>
		<div class="grid-row row">
			<div class="w50 bgaqua">
				<a href="{{ site.baseurl }}/app-tour"><img src="{{ '/assets/img/app-tour-preview.png' | prepend: site.baseurl }}" class="grid-img" alt="Moovel Rider App Tour Project Preview" /></a>
			</div>
			<div class="w50">
				<div class="grid-content">
					<div class="grid-title">
						<h3><b>Onboarding in the moovel App</b> – Guiding users through changes after a redesign of the transit ticketing app</h3>
					</div>
					<div class="grid-link">
						<a class="hoverbg" href="{{ site.baseurl }}/app-tour">View Project Details</a>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-row row">
			<div class="w50">
				<div class="grid-content">
					<div class="grid-title">
						<h3><b>Cancel Your Getaround Trip</b> – Giving renters the ability to cancel their trip through the mobile app to reduce customer service calls</h3>
					</div>
					<div class="grid-link">
						<a class="hoverbg" href="{{ site.baseurl }}/cancel-trip">View Project Details</a>
					</div>
				</div>
			</div>
			<div class="w50 bgpurple">
				<a href="{{ site.baseurl }}/cancel-trip"><img src="{{ '/assets/img/cancel-trip-preview.png' | prepend: site.baseurl }}" class="grid-img" alt="Getaround Cancel Trip Project Preview" /></a>
			</div>
		</div>

		<div class="grid-row row">
		<div class="w50 bgsuperlight">
			<a href="{{ site.baseurl }}/other-things"><img src="{{ '/assets/img/portfolio-snippets-preview.png' | prepend: site.baseurl }}" class="grid-img no-float" alt="Past Illustrations" /></a>
		</div>
		<div class="w50">
			<div class="grid-content">
				<div class="grid-title">
					<h3><b>Other Things</b> – a visual list of design dabblings that venture outside of product design</h3>
				</div>
				<div class="grid-link">
					<a class="hoverbg" href="{{ site.baseurl }}/other-things">View Dabblings</a>
				</div>
			</div>
		</div>
		</div>


{% include footer.html %}
