---
title: Other Things
permalink: other-things
---

{% include header.html %}

<div class="row">
	<div class="text-intro">
		<h2 class="center">Other Things</h2>
		<p class="center">Though I've been primarily focused on product design and solving problems in the urban mobility space, I've made some time for those other projects inbetween.</p>
	</div>
</div>

<div class="row">
	<div class="column img-half-container">
		<img src="{{ '/assets/img/portfolio-snippets-spot-illo.png' | prepend: site.baseurl }}" alt="Spot illustration for a Remix error state screen" />
	</div>
	<div class="column img-half-container">
		<img src="{{ '/assets/img/portfolio-snippets-icons.png' | prepend: site.baseurl }}" alt="Icons designed for a cocktail menu" />
		<img src="{{ '/assets/img/portfolio-snippets-illustration.png' | prepend: site.baseurl }}" alt="Illustration of a taco and succulent" />
	</div>
</div>

<div class="row copy-row">
	<div class="column title-column">
		<h3>Icons and Illustrations</h3>
	</div>
	<div class="column">
		<h4>Unsupported Browser</h4>
		<p>When Remix discontinued application support in Microsoft IE, we needed a friendly way to communicate that. The desk illustration supported gentle messaging that informed users of the change.</p>
		<h4>Drinks</h4>
		<p>As Getaround began launching in new cities, each launch would be kicked off with an opening party. This set of icons was designed for the bar menus at these events. These were designed to follow Getaround's illustrative style.</p>
		<h4>Tacos & Cacti</h4>
		<p>This set of illustrations was created for employee appreciation day. moovel celebrated by hosting a breakfast taco bar and each employee received a succulent for their desk. To keep things light-hearted and whimsical, I chose to anthropomorphize the themes.</p>
	</div>
</div>

<div class="row">

	<div class="column img-half-container">
		<img src="{{ '/assets/img/portfolio-snippets-logo-RnD.png' | prepend: site.baseurl }}" alt="Logo designed for the Research & Design team at moovel" />
	</div>
	<div class="column img-half-container">
		<img src="{{ '/assets/img/portfolio-snippets-logo-yogavibes
		.png' | prepend: site.baseurl }}" alt="Logo designed for a yoga studio that uses vibration plates" />
	</div>

</div>

<div class="row copy-row">
	<div class="column title-column">
		<h3>Logos</h3>
	</div>
	<div class="column">
		<h4>RnD</h4>
		<p>Like many cross-functional teams, each of moovel's teams have their own unique story. The Research and Development team wanted a logo to represent that. I designed something geeky and fun with a nod at the hardware they build.</p>
		<h4>YOGA VIBES</h4>
		<p>This logo was designed for a yoga instructor with a studio that incorporated vibration plates into the practice. I wanted to keep the logo modern and clean.</p>
	</div>
</div>

<div class="img-full-container">
	<img src="{{ '/assets/img/portfolio-snippets-web-layout.png' | prepend: site.baseurl }}" alt="Layout of Getaround's career web page" />
</div>

<div class="row">
	<div class="column img-half-container">
		<img src="{{ '/assets/img/portfolio-snippets-best-part.gif' | prepend: site.baseurl }}" alt="Animated visual of the Getaround team testimonials section" />
	</div>
	<div class="column img-half-container">
		<img src="{{ '/assets/img/portfolio-snippets-job-success
		.png' | prepend: site.baseurl }}" alt="Layout of Getaround's redesigned application form" />
	</div>
</div>

<div class="row copy-row">
	<div class="column title-column">
		<h3>Websites</h3>
	</div>
	<div class="column">
		<h4>Jobs Page</h4>
		<p>At Getaround, our jobs page was lackluster and resulted in a lower number of applicants. This is a redesign of the page to showcase more character and culture at Getaround through company stats, perks, anecdotes, and photos. I focused on increasing viewer engagement by adding CTAs and providing relevant content.</p>

		<h4>The Best Part of Getaround</h4>
		<p>As part of the jobs page update, I included a section that would highlight Getaround team members and what they love most about the office. This space encourages humor and anecdotes to give applicants the warm  fuzzies.</p>

		<h4>Job Application Success</h4>
		<p>Before the redesign, potential employees were linked to a third-party application page. I wanted to include the application process within our own site so that I could control the messaging and flow. This updated experience gives users more information and keeps the tone on brand.</p>
	</div>
</div>





{% include footer.html %}
