---
title: Other Things
permalink: other-things
---

{% include header.html %}

<div class="row">

	<div class="text-intro">

		<h2 class="center">Other Things</h2>
		<p class="center">Though I've been primarily focused on product design and solving problems in the urban mobility space, I've made some time for those other projects inbetween.</p>

	</div>

</div>

<div class="row">

	<div class="column img-half-container">
		<img src="{{ '/assets/img/portfolio-snippets-icons.png' | prepend: site.baseurl }}" />
	</div>
	<div class="column img-half-container">
		<img src="{{ '/assets/img/portfolio-snippets-illustration.png' | prepend: site.baseurl }}" />
	</div>

</div>

<div class="row copy-row">
	<div class="column title-column">
		<h3>Icons and Illustrations</h3>
	</div>
	<div class="column">
		<h4>Drinks</h4>
		<p>As Getaround began launching in new cities, each would be kicked off with an opening party. This set of icons was designed for the bar menus at these events. These were designed to follow Getaround's illustrative style.</p>
		<h4>Tacos & Cacti</h4>
		<p>This set of illustrations was created for employee appreciation day. moovel celebrated by hosting a breakfast taco bar and each employee received a succulent for their desk. To keep things light-hearted and whimsical, I chose to anthropomorphize the themes.</p>
	</div>
</div>

<div class="row">

	<div class="column img-half-container">
		<img src="{{ '/assets/img/portfolio-snippets-logo-RnD.png' | prepend: site.baseurl }}" />
	</div>
	<div class="column img-half-container">
		<img src="{{ '/assets/img/portfolio-snippets-logo-yogavibes
		.png' | prepend: site.baseurl }}" />
	</div>

</div>

<div class="row copy-row">
	<div class="column title-column">
		<h3>Logos</h3>
	</div>
	<div class="column">
		<h4>RnD</h4>
		<p>Like many places, moovel's cross-functional teams each have their own unique story. The Research and Development team wanted a logo that was geeky and fun, but also representative of the hardware they build.</p>
		<h4>YOGA VIBES</h4>
		<p>This logo was designed for an instructor just starting a business, but would eventually teach yoga on vibration plates. We wanted to keep the logo modern and clean.</p>
	</div>
</div>

<div class="img-full-container">
	<img src="{{ '/assets/img/portfolio-snippets-web-layout.png' | prepend: site.baseurl }}" />
</div>

<div class="row copy-row">
	<div class="column title-column">
		<h3>Websites</h3>
	</div>
	<div class="column">
		<h4>Jobs Page</h4>
		<p>At Getaround, we realized our job page was lackluster and resulted in a lower number of applicants. This is a redesign of the page to showcase more character and culture at Getaround through company stats, perks, anecdotes, and photos. We also wanted to focus on increasing viewer engagement by adding CTAs and providing relevant content.</p>

		<h4>What's great about working at Getaround?</h4>
		<p>...</p>

		<h4>Job Application Success</h4>
		<p>...</p>
	</div>
</div>





{% include footer.html %}
