---
title: SportsID Landing Pages
permalink: sportsid-landing-pages
---

{% include header.html %}

<div class="img-full-container bgsuperlight">
		<img src="{{ '/assets/img/sportsid-hero.png' | prepend: site.baseurl }}" />
</div>

<div class="row copy-row">
	<div class="column overview title-column">
		<h2>Landing Pages</h2>
		<p>Mobile + Desktop Web</p>.
	</div>
	<div class="column">
		<h4>About SportsID</h4>
		<p>SportsID is a network of mobile and web-based products that create a central platform for athletes, coaches, recruiters, camps and tournaments.
		</p>
		<h4>My Role</h4>
		<p>I was responsible for planning, concepting, designing, documenting and delivering landing pages to the client, SportsID.</p>

		<h4>The Challenge</h4>
		<p>As SportsID was ready to launch there first app, they needed a way to engage site visitors. These visitors range from athletes to coaches to recruiters. The goal was to design four landing pages encouraging sign ups for each product: SportsID, CampID, TournamentID, and CoachID. To keep the project scope lean, the landing pages needed to be designed modularly so that they could share similar layouts and components.</p>
		<p>Before I could create modular components, I needed to understand the goal of each landing page. They shared a common set of objectives:</p>
		<ul>
			<li>Introduce the company and new app.</li>
			<li>Tell users the value.</li>
			<li>Encourage users to sign up.</li>
		</ul>

	</div>
</div>

<div class="img-full-container">
	<img src="{{ '/assets/img/SportsID-wireframes.png' | prepend: site.baseurl }}" />
</div>

<div class="row copy-row">
	<div class="single-column">
		<h4>Identifying Content &amp; Components</h4>
		<p>Creating wireframes helped identify what modular blocks of content we would need in order to meet the objectives for all four landing pages. Each page would share these modular sections, with the exception of the header. </p>
	</div>
</div>

<div class="img-full-container">
	<img src="{{ '/assets/img/SportsID-mood-board.png' | prepend: site.baseurl }}" />
</div>

<div class="row copy-row">
	<div class="single-column">
		<h4>Establishing a Style</h4>
		<p>When I think of athletes and sports, I hear dramatic music and think of humans pushing themselves beyond their boundaries. This led the direction of bold imagery and fonts and dramatic but unobtrusive shadows. The textures have the characteristic of a unique identifier or pattern like a barcode or fingerprint and also imply movement.</p>
	</div>
</div>

<div class="img-full-container">
	<img src="{{ '/assets/img/SportsID-icons.png' | prepend: site.baseurl }}" />
</div>

<div class="row copy-row">
	<div class="single-column">
		<h4>Iconography</h4>
		<p>I explored several icon styles to visually support the messaging and brand. I played with shadows and textures. I also explored detailed and not-so-detailed icon styles. We decided bolder lines and colors worked well with the overall style of the landing pages.</p>
	</div>
</div>

<div class="img-full-container">
	<img src="{{ '/assets/img/cancel-trip-userflow.png' | prepend: site.baseurl }}" />
</div>

<div class="row copy-row">
	<div class="single-column">
		<h4>Outcome</h4>
		<p>Using a little systematic thinking, I was able to deliver four landing pages to the client within the agreed upon timeline and scope. Creating modular components that can be used on any four of the landing pages.</p>
		<p>Because SportsID was the central gateway to all of the products and was a bit more unique in content, this landing page was given a different layout.</p>
		<h4>Takeaways</h4>
		<p>Using copy, illustrations, and photography is one way to engage visitors and encourage sign ups. But nothing beats seeing the app or experiencing the value of it first hand. There are additional design opportunities to explore like including screenshots and highlighting the most valuable app features.</p>
	</div>
</div>



{% include footer.html %}
