---
title: SportsID Landing Pages
permalink: sportsid-landing-pages
---

{% include header.html %}

<h2>{{ page.title }}</h2>
<p>moovel builds products that allow transit agencies and transit riders to engage in an entire transportation ecosystem.</p>

<div class="row">

	<div class="column">

		<p>For the past seven years, I've been designing digital interfaces and experiences. Right now, I'm working on a transit app at <a href="https://moovel-group.com/en" target="_blank">moovel</a> where we're making urban transportation suck less. Also, I'm a mentor at <a href="http://trydesignlab.com/ckayfoote/" target="_blank">Designlab</a>. Previously, I was at <a href="http://getaround.com" target="_blank">Getaround</a> working on a carsharing platform.
		<p>

	</div>

	<div class="column">
		<p>I like hot dogs and chocolate chip cookies. Sundays are the best. I'm an ex-Floridian. I've seen a UFO. I like soccer but it's called football. A felt tip pen is the preferred writing tool.</p>
	</div>

</div><!--end div#about-container-->





{% include footer.html %}
