  </main>

  <footer>
      <ul id="social-icons" class="row">
        <li><h3>Let's get digital. Digital.</h3></li>
        <li class="email"><a href="mailto:charlene.foote@gmail.com">email</a></li>
        <li class="dribbble"><a href="http://dribbble.com/charlenefoote" target="blank">Dribbble</a></li>
        <li class="linkedin"><a href="http://www.linkedin.com/in/charlenefoote" target="blank">LinkedIn</a></li>
        <li class="twitter"><a href="https://twitter.com/ckayfoote" target="blank">Twitter</a></li>
      </ul>
    <script src="analyticstracking.js"></script>
  </footer>

</div><!-- end of div.page-wrap-->

</body>
</html>
