<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width" />
	<title>Charlene Foote . Product Designer . Portland</title>

	<link rel="icon" href="victory-hand-emoji.png" type="image/png" />

	<script src="https://use.typekit.net/hhp8xlt.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<link rel="stylesheet" type="text/css" media="all" href="{{ '/assets/css/dragdealer.css' | prepend: site.baseurl }}" />
	<link rel="stylesheet" type="text/css" media="all" href="{{ '/assets/css/component.css' | prepend: site.baseurl }}" />
	<link rel="stylesheet" type="text/css" media="all" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}" />

	<script src="{{ '/js/modernizr.custom.js' | prepend: site.baseurl }}"></script>
</head>

<body>

	<div class="page-wrap">
	  <nav id="main-menu" class="row">
	    <h1 class="column"><a href="{{ site.baseurl }}/">Charlene Foote</a></h1>
			<ul class="menu column">
				<li><a href="{{ site.baseurl }}/">Work</a></li>
				<li><a href="{{ site.baseurl }}/about">About</a></li>
				<li><a href="mailto:charlene.foote@gmail.com" target="_blank">Contact</a></li>
			</ul>
	  </nav>
