<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width" />
	<title>Charlene Foote . Product Designer . Portland</title>

	<link rel="icon" href="victory-hand-emoji.png" type="image/png" />

	<script src="https://use.typekit.net/hhp8xlt.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<link rel="stylesheet" type="text/css" media="all" href="{{ './assets/css/style.css' | relative_url }}" />

</head>

<body>

  <div id="site-container">

    <div id="content-container">

        <nav>
          <h1><a href="/">Charlene Foote</a></h1>
        </nav>
