/*********************
GENERAL STYLES
*********************/
html {
	font-size: 8px;
}

body {
	min-height: 100vh;
}

a {
	text-decoration: none;
	font-weight: 400;
	color: $primary-blang;
	@include transition(all .25s ease);

}


/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1 {
	font-family: $ckf-sans;
	font-weight: 900;
}

h2 {
	font-family: $ckf-sans;
	font-weight: 900;
	color: $gray;
	font-size: 7em;
}

p {
		color: #425057;
    font-size: 3em;
    font-weight: 300;
    letter-spacing: .02em;
    line-height: 1.5em;
}

/*********************
LAYOUT
*********************/

.page-wrap {
		font-family: $ckf-serif;
		font-smoothing: antialiased;
		max-width: 142em;
		margin: 0 auto;
		padding: 0 4em;
		position: relative;
		display: flex;
		flex: 1;
		flex-direction: column;
}

.row {
    display: flex;
		padding: 6em 0;
}

.column {
	width: 50%;
}

main.row {
		flex: 1;
		padding-top: 0;
}

/*********************
NAV
*********************/

nav {

	h1 {
		font-size: 2em;
		letter-spacing: .1em;
		margin: 0;
		text-transform: uppercase;
	}

	a {
		font-family: $ckf-sans;
		font-weight: 900;
		color: $primary-blang;
	}

	.menu {
		margin: 0;
		text-align: right;

		li {
			display: inline-block;
			padding-left: 2em;
			font-size: 2em;
		}
	}
}

/*********************
CONTENT CONTAINERS
*********************/

#synopsis-container {
	flex: 1;
	height: 83vh;
	padding: 0 0 4em;
	position: relative;
	width: 100%;

	h2 {
		margin: 2em 0 0 0;
    position: relative;
    min-width: 60vw;
	}

	p {
    margin: 30px 60px 0 0;
	}

	.column:last-child {
		background-image: url(../img/charlene-product-designer.jpg);
		background-blend-mode: multiply;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 70vh;
		box-shadow: inset 0 0 0 1000px rgba(119,136,144,.1);
	}

}

#about-container {
	padding: 0;
	position: relative;

	.column:first-child {
		padding-right: 6em;
	}

	.column:last-child {
		padding-left: 6em;
	}
}

/*********************
FOOTER STYLES
*********************/

footer {
	margin-top: 6em;

	ul#social-icons {
		border-top: $super-light-gray .25em solid;
		padding: 6em 0;

		h3 {
			float: left;
			font-family: $ckf-sans;
			font-size: 2em;
			font-weight: 900;
			margin: .5em 0;
		}

		@media screen and (max-width: 540px) {
			margin: .5em 0 0 0;
			clear: both;
		}

		li {
			float: left;
			margin: 0 18px 0 0;
			color: $light-gray;

			&:last-child {
				margin-right: 0;

			}

			a{
				width: 32px;
				height: 32px;
				display: block;
				text-indent: -9999px;
				background-size: cover;
				opacity: 1;
				@include transition(all .5s ease);

				&:hover {
					opacity: .8;
				}

			}

			&.dribbble a{background-image: url(../img/social-icon-dribbble.svg);}
			&.twitter a{background-image: url(../img/social-icon-twitter.svg);}
			&.linkedin a{background-image: url(../img/social-icon-linkedin.svg);}
			&.email a{background-image: url(../img/social-icon-email.svg);}

		}

	}

}
<<<<<<< HEAD
=======

/*********************
Slideshow
*********************/

*, *:after, *:before { box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


/*********************
FOOTER STYLES
*********************/
>>>>>>> d328031825733de75498af92cae5ff6fe524a336
