/*********************
GENERAL STYLES
*********************/
html {
	font-size: 8px;
}

body {
	min-height: 100vh;
}

a {
	text-decoration: none;
		font-family: $ckf-sans;
		font-weight: 900;
		color: $primary-blang;
	@include transition(all .25s ease);
}

a.hoverbg {
	line-height: 2;
	font-size: 1em;
	position: relative;
	padding: 1em 1em;

	&:after {
		background: $super-light-gray;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 0;
		z-index: -9999;
		@include transition(width .25s ease);
	}

	&:hover:after {
		width: 40%;
	}
}


.bgaqua {
	background: #00B7BF;
}

.bgpurple {
	background: #c3c;
}

.bglight {
	background: $light-gray
}

.bgsuperlight {
	background: $super-light-gray
}


/******************************************************************
TEXT STYLES
******************************************************************/

h1 {
	font-family: $ckf-sans;
	font-weight: 900;
}

h2 {
	color: $gray;
	font-family: $ckf-sans;
	font-size: 7em;
	font-weight: 900;
	margin-top: 0;
}

h3 {
	color: $gray;
	font-family: $ckf-sans;
	font-size: 4em;
	font-weight: 900;
}

h3 {
	color: $gray;
	font-family: $ckf-sans;
	font-size: 4em;
	font-weight: 900;
	margin: 0;
}

h4 {
	color: $light-gray;
	font-family: $ckf-sans;
	font-size: 1.75em;
	letter-spacing: .1em;
	margin-top: 0;
	text-transform: uppercase;
}

p {
		color: $gray;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: .02em;
    line-height: 1.75em;
		margin-top: 0;

		a {
			font-family: $ckf-serif;
			font-weight: 400;
		}
}

.center {
	text-align: center;
}

/*********************
LAYOUT
*********************/

.page-wrap {
		font-family: $ckf-serif;
		-webkit-font-smoothing: antialiased;
		max-width: 142em;
		margin: 0 auto;
		padding: 0 4vh;
		position: relative;
		display: flex;
		flex: 1;
		flex-direction: column;
}

.row {
    display: flex;
		flex-flow: row;

		.column {
			width: 50%;
		}

		flex-flow: column;

		.column {
			width: 100%;
		}

		@media (min-width: $mqA) {
			flex-flow: row;

			.column {
				width: 50%;
			}
		}

		@media (min-width: $mqA) {
			.single-column {
				padding-left: 50%;
			}
		}

		&.copy-row {
			margin: 8em 0;
		}

}

main.row {
	flex: 1;
	padding-top: 0;
}

.vh-96 {
	position: relative;

	@media (min-width: $mqA) {
		height: 96vh;
	}
}

/*********************
NAV
*********************/

#main-menu {
	line-height: 13vh;

	.hoverbg {
		padding: .5em 1em;

		&:hover:after {
			width: 34px;
		}

		&:last-child {
			padding-right: 0;
		}

	}

	@media (max-width: $mqA) {
		line-height: 6vh;
		flex-flow: column;

		.column {
			flex-flow: row;
			text-align: center;
			width: 100%;
		}

		h1 {
			padding-top: 3vh;
		}

		.menu {
			margin-bottom: 5vh;

			a {
				padding: 0 1em;
			}
		}
	}
}

nav {

	h1 {
		font-size: 2em;
		letter-spacing: .1em;
		margin: 0;
		text-transform: uppercase;
	}


	.menu {
		margin: 0;
		text-align: right;

		li {
			display: inline-block;
			font-size: 2em;

			@media (min-width: $mqA) {
				padding-left: 2em;
			}

			a {
				font-family: $ckf-sans;
				font-weight: 700;
			}
		}
	}
}

/*********************
CUSTOM CONTENT STYLES
*********************/

#synopsis-container {
	flex: 1;
	padding: 0 0 4vh;
	position: relative;
	width: 100%;

	@media (min-width: $mqA) {
		height: 83vh;
	}

	h2 {
		margin: 2em 0 0 0;
    position: relative;
    min-width: 70vw;
	}

	p {
		font-size: 3em;
		line-height: 1.5em;
    margin: 30px 60px 0 0;
	}

	.column:last-child {
		background-image: url(../img/charlene-product-designer.jpg);
		background-blend-mode: multiply;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 70vh;
		box-shadow: inset 0 0 0 1000px rgba(119,136,144,.1);
	}

}

#about-container {
	padding: 0;
	position: relative;

	.column:first-child {
		padding-right: 6em;
	}

	.column:last-child {
		padding-left: 6em;
	}

	p {
		font-size: 3em;
	}
}

.text-intro {
	padding: 8em 25%;
	p {
		font-size: 3em;
	}

&.full-width {
	padding: 8em 0;
}

}

.img-full-container {
	width: 100%;

	img {
			width: 100%;
	}
}

.img-half-container {
	img {
			width: 100%;
	}
}

.title-column {
	h2 {
		margin: 0;
	}
	p {
		font-size: 2.5em;
	}
}

.copy-row {
	p {
		margin-bottom: 1.5em;
		&:last-child {
			margin-bottom: 0
		}
	}
	li {
		font-size: 2em;
		font-weight: 300;
		letter-spacing: .02em;
		line-height: 1.75em;
		margin-top: 0;
    padding-left: 1em;

		&:before {
			color: $light-gray;
			content: "\25A0";
			font-size: .75em;
			margin-left: -1.65em;
			padding-right: 1em;
  		position: relative;
  		top: -.15em;
		}
	}
}

.w50 {
	align-items: center;
	height: 64vh;
	display: flex;
	flex: 1;
	position: relative;

	@media (min-width: $mqA) {
		height: 90vh;
	}
}

.grid-img {
	height: auto;
	max-height: 120%;
	position: absolute;
	width: auto;
	max-width: 100%;

	@media (min-width: $mqA) {
		max-width: none;
	}
}

.grid-row:nth-of-type(2n+1) {
	@media (max-width: $mqA) {
		flex-flow: column-reverse;
	}

	.w50:nth-of-type(2) {
		.grid-content {
			padding-left: 0;

			@media (min-width: $mqA) {
				padding-left: 10vh;
			}
		}
	}

	.grid-img {
		right: 0;
		top: 0;

		@media (min-width: $mqA) {
			right: -8vh;
			top: -15vh;
		}
	}
}

.grid-row:nth-of-type(2n+2) {
	.w50:nth-of-type(1) {
		.grid-content {
			padding-right: 0;

			@media (min-width: $mqA) {
				padding-right: 10vh;
			}
		}
	}

	.grid-img {
		bottom: 0;
		left: 0;
		z-index: 1;

		@media (min-width: $mqA) {
			bottom: -16vh;
			left: -21vh;
		}
	}
}


.grid-content {
	p {
		margin-bottom: 2em;
	}

	a.hoverbg {
		font-size: 2em;
		line-height: 2;
		position: relative;
		padding: 1em 1.5em;

		&:after {
			background: $super-light-gray;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 3em;
			z-index: -9999;
			@include transition(width .25s ease);
		}

		&:hover:after {
			width: 100%;
		}
	}
}

.prototype {
	height: 618px;
	margin: 0 auto;
	position: relative;
	width: 382px;
	max-width: none;

	img {
		left: -12.75em;
		position: absolute;
		top: -5.4em;
		width: 382px;
		z-index: 2;
	}

 	video {
		left: 1.75em;
		position: relative;
		top: 2em;
		z-index: -1;
	}
}

/*********************
FOOTER STYLES
*********************/

footer {
	margin-top: 6em;

	ul#social-icons {
		border-top: $super-light-gray .25em solid;
		justify-content: center;
		padding: 6em 0;

		@media (max-width: $mqA) {
			flex-flow: row;
		}

		h3 {
			float: left;
			font-family: $ckf-sans;
			font-size: 2em;
			font-weight: 900;
			margin: .5em 0;
		}

		@media screen and (max-width: 540px) {
			margin: .5em 0 0 0;
			clear: both;
		}

		li {
			float: left;
			margin: 0 18px 0 0;
			color: $light-gray;

			&:last-child {
				margin-right: 0;

			}

			a{
				width: 32px;
				height: 32px;
				display: block;
				text-indent: -9999px;
				background-size: cover;
				opacity: 1;
				@include transition(all .5s ease);

				&:hover {
					opacity: .8;
				}

			}

			&.dribbble a{background-image: url(../img/social-icon-dribbble.svg);}
			&.twitter a{background-image: url(../img/social-icon-twitter.svg);}
			&.linkedin a{background-image: url(../img/social-icon-linkedin.svg);}
			&.email a{background-image: url(../img/social-icon-email.svg);}

		}

	}

}
