/******************************************************************
Site Name: Charlene Foote Portfolio
Author: Charlene Foote

Stylesheet: Mixins & Constants Stylesheet

******************************************************************/

/*********************
Media Queries
*********************/
$mqA: 740px;
$mqB: 675px;

/*********************
COLORS
*********************/

$primary-blang : #425057;

$black:             #000;
$white:             #fff;
$gray:              #425057;
$light-gray:        lighten($gray, 50%);
$super-light-gray:  lighten($gray, 65%);

$link-color:        $primary-blang;
$link-hover:        lighten($link-color, 40%);


/*********************
TYPOGRAPHY
*********************/

$ckf-sans : "neuzeit-grotesk", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ckf-serif : "freight-text-pro",  Georgia, Times, 'Times New Roman', serif;

/*********************
TRANSITION
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition...) {
	// defining prefixes so we can use them in mixins below
	$prefixes:      ("-webkit-", "-moz-", "-ms-", "-o-",  "");
  @each $prefix in $prefixes {
    #{$prefix}transition: $transition;
  }
}
